*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: scroll;
  background-color: black;
  font-family: gloomhaven;
  font-size: 1.5em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#menu_button {
  position: relative;
  margin: 1;
  padding: 0;
}
#close_button {
  float: right;
}
#license_text {
  margin-top: 3em;
  font-size: 0.7em;
}

#menu {
  position: fixed;
  width: 50%;
}
.controls {
  border: 0.1em solid white;
  border-radius: 2%;
  margin-left: 2em;
  margin-top: 3em;
  position: absolute;
  background-color: #000000;
  width: 100%;
  top: 0;
  left: 0;
}
.control-contents {
  margin-left: 1em;
  width: 30em;
}

#rooms_plusbutton {
  margin-left: 1.55em;
}

#combined-card-name {
  font-size: 1.5em;
}

button {
  position: relative;
  height: 3em;
  width: 6em;
  margin: 1em;
  font-weight: bold;
  font-size: 0.6em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 0.1em solid white;
  border-radius: 5%;
  background-color: black;
}
.cubecoords-button {
  height: 5em;
  width: 12em;
}

#stack {
  position: relative;
}
#stack > canvas {
  position: absolute;
  left: 0;
  top: 0;
}

button:hover {
  color: black;
  background-color: #9cf058;
}
button:focus {
  border: 0.1em solid #9cf058;
}
button:active {
  background-color: #1f1f1f;
  color: white;
}

.nextmap_button {
  height: 100%;
  width: 100%;
}

#extras_and_effects div {
  margin-bottom: 2em;
}

@font-face {
  font-family: gloomhaven;
  font-style: normal;
  font-weight: 400;
  src: local('gloomhaven'), url('./PirataOne-Gloomhaven.ttf') format('truetype');
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 8em;
  margin: 0;
  padding: 0;
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 0; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
  width: 100%; /* Could be more or less, depending on screen size */
}
.modal-content p {
  margin: 0;
}

/* The Close Button */
.close {
  position: absolute;
  margin-left: 4em;
  margin-top: -1em;
  color: #aaa;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
